@font-face {
  font-family: "Lato";
  src: url("./Lato/Lato-Regular.ttf") format("ttf");
  font-weight: 400; /* Specify font weight */
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  background-image: url("../assets/images/background.jpg");
}
.top-section {
  height: 200px;
  padding-top: 40px;
}
.search-bar {
  width: 500px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 0 1em;
  margin: 0 auto;
}

#dropdown {
  width: 420px;
  margin: 0 auto;
  border: 1.5px solid black;
  background-color: white;
  color: black;
  list-style-type: none;
  position: relative;
}
.dropdown-menu-item {
  text-decoration: none;
  margin-left: 1.5em;
  color: black;
}
.dropdown-list {
  margin: 1em 1em;
}
.dropdown-menu-item:hover {
  opacity: 0.5;
}
.search {
  font-size: 1.75rem;
  border: none;
  outline: none;
  width: 100%;
}
.search-icon {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.search-bar:focus-within {
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.weather {
  width: 500px;
  max-width: 80%;
  margin: 3em auto;
  text-align: center;
  color: white;
}
.weather-location {
  text-transform: uppercase;
}
.weather-location,
.weather-description {
  min-width: 90%;
}
.weather-temp-border {
  margin: 2em auto 0;
  width: 300px;
  height: 300px;
  border: 5px solid white;
  border-radius: 50%;
  position: relative;
}
.weather-temperature {
  position: absolute;
  font-size: 6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-temp {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%);
  font-size: 1.2rem;
}
#error {
  width: 500px;
  max-width: 80%;
  margin: 3em auto;
  text-align: center;
  color: white;
}
.show {
  display: block;
}

.toggle-container {
  position: absolute;
  left: 35%;
  bottom: 70%;
}

#temp-toggle {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  position: relative;
  background-color: #ccc;
  border-radius: 25px;
  width: 75px;
  height: 40px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#temp-toggle::after {
  content: "F°";
  position: absolute;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  top: 50%;
  left: 30%;
  height: 2rem;
  width: 2rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: left 0.3s;
}
#temp-toggle:checked {
  background-color: black;
}
#temp-toggle:checked:after {
  content: "C°";
  left: 70%;
}
.footer {
  background-color: rgb(34, 28, 28);
  color: white;
  padding: 1em 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
